@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Sora:wght@400;600&display=swap');

body {
    background: #FFFFFF;
}

header {
    background-color: #FFFFFF;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    gap: 60px;
}

.cabecalho__link {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-decoration: none;
    color: #6E7275;
}

.cabecalho__link:hover {
    color: blue;
}

.c-primario {
    background-color: #EFF8FF;
    width: 100%;
    height: 640px; 
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
}

.c-primario__titulo {
    font-family: Sora;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;  
    letter-spacing: 0em;
}

.c-primario__botao {
    background-color: #0F9AFE;
    color:#FFFFFF;
    border-radius: 50px;
    border: none;
    padding: 16px 36px 16px 36px;
    font-size: 24.2px;
    box-shadow: 1px 3px 4px 0px #137DE080;
    margin-top: 50px;
}

.c-secundario {
    width: 100%;
    height: 475px;
    padding-top: 4rem;
}

.c-secundario__titulo {
    font-family: Sora;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
}

.lista {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 6rem;
    text-align: center;
}

.lista__item {
    max-width: 240px;
    text-align: center;
}

.lista__titulo {
    font-family: Sora;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    margin-top: 30px;
}

.lista__paragrafo {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 15px;
}

.c-terciario {
    width: 100%;
    height: 475px;
    padding-top: 4rem;
    background-color: #EFF8FF;
    display: flex;
    justify-content: space-evenly;
}

.c-terciario__titulo {
    font-family: Sora;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    padding-bottom: 25px;
} 

.c-terciario__paragrafo {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 450px;
    padding-bottom: 25px;
}

.textos {
    padding-top: 75px;
}

#appstore {
    margin-left: 20px;
}

.c-quarternario {
    width: auto;
    height: 50rem;
    padding-top: 70px;
}

.c-quarternario__titulo {
    font-family: Sora;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;
}

.c-quarternario__paragrafo {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;    
    text-align: center;
    margin-top: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}

.card-primario {
    width: 370px;
    height: 471px;
    background: #EFF8FF;
    border-radius: 8px;
    padding-top: 60px;
}

.card-secundario {
    width: 370px;
    height: 471px;
    background: #293145;
    border-radius: 8px;
    padding-top: 20px;
}

.card-terciario {
    width: 370px;
    height: 471px;
    background: #EFF8FF;
    border-radius: 8px;
    padding-top: 60px;
}

.card__titulo {
    font-family: Sora;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.card__titulo-secundario {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


.card__paragrafo {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: #6E7275;
    max-width: 300px;
    text-align: center;
    margin-left: 40px;
}

.card__botao {
   background: #0F9AFE;
   color: #FFFFFF;
   border: none;
   border-radius: 50px;
   width: 230px;
   height: 43px;
   box-shadow: 1px 3px 4px 0px #137DE080;
   margin-top: 70px;
   margin-left: 65px;
}

.card__titulo-prata {
    font-family: Sora;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.preferido {
    width: 164px;
    height: 27px;
    padding: 5px 32px 5px 32px;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #0F9AFE;
    font-family: Inter;
    font-size: 14px;
    letter-spacing: 0.2em;
    margin-left: 100px;
    margin-top: 30px;
}

.card__titulo-secundario-prata {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #FFFFFF; 
}

.card__paragrafo-prata {
    color: #DBDBDB;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    max-width: 300px;
    text-align: center;
    margin-left: 40px;
}  

.c-contato {
    width: auto;
    height: 382px;
    background-image: url(img/unsplash_psGV5KhidlY.svg);
}

.transparencia {
    width: auto;
    height: 382px;
    background: linear-gradient(to right, rgba(33, 34, 55, 0.833), rgba(55, 61, 82, 0.393));
}

.c-contato__titulo {
    font-family: Sora;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.c-contato__paragrafo {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #DBDBDB;
}

.email {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.c-contato__input {
    border: none;
    background-color: transparent;
    width: 300px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.c-contato__input::placeholder {
    color: #FFFFFF;
  }

.c-contato__botao {
    width: 118px;
    height: 38px;
    padding: 8px 32px 8px 32px;
    border-radius: 50px;
    background: #0F9AFE;
    color: #FFFFFF;
    border: none;
}

footer {
    width: auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-titulo {
    font-family: Sora;
    font-size: 20px;
    font-weight: 400;   
    line-height: 25px;
    letter-spacing: 0em;
}
