@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Sora:wght@400;600&display=swap');
body {
    background: #FFFFFF;
}

header {
    background-color: #FFFFFF;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    gap: 60px;
}

.cabecalho__link {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-decoration: none;
    color: #6E7275;
}

.cabecalho__link:hover {
    color: blue;
}

.c-primario {
    background-color: #EFF8FF;
    width: 100%;
    height: 640px; 
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
}

.c-primario__titulo {
    font-family: Sora;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;  
    letter-spacing: 0em;
}

.c-primario__botao {
    background-color: #0F9AFE;
    color:#FFFFFF;
    border-radius: 50px;
    border: none;
    padding: 16px 36px 16px 36px;
    font-size: 24.2px;
    box-shadow: 1px 3px 4px 0px #137DE080;
    margin-top: 50px;
}

.c-secundario {
    width: 100%;
    height: 475px;
    padding-top: 4rem;
}

.c-secundario__titulo {
    font-family: Sora;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
}

.lista {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 6rem;
    text-align: center;
}

.lista__item {
    max-width: 240px;
    text-align: center;
}

.lista__titulo {
    font-family: Sora;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    margin-top: 30px;
}

.lista__paragrafo {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 15px;
}
